.WelcomeButton {
  @apply hidden md:block mt-8 transform translate-y-14 opacity-0;

  animation: fadeInUp 1s ease calc(var(--typewriterSpeed) + 1.5s) forwards;
}

.WelcomeButtonMobile {
  @apply md:hidden mt-8 transform translate-y-14 opacity-0;

  animation: fadeInUp 1s ease calc(var(--typewriterMobileSpeed) + 5.5s) forwards;
}

.WelcomeText {
  @apply text-2xl font-normal text-white;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
